{% extends 'verkkokauppa/layout.html' %}
{% block content %}
<div class="center-align">
    {% if totalPrice > 0 %}
    <table>
        <thead>
            <tr>
                <form action="/store" method="get">
                    <th>Name</th>
                    <th>Price</th>
                    <th>Platform</th>
                </form>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <form action="/deleteFromCart/" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{product.price}}" name="price">
                <input type="hidden" value="{{product.platform}}" name="platform">
                <input type="hidden" value="{{product.id}}" name="id">
            <tr>
                <td><a href="/store/products/{{product.id}}">{{product.name}}</a></td>
                <td>{{product.price}}€</td>
                <td>{{product.platform}}</td>
                <td><button style="margin-left: 0.5%;" type="submit" class="btn red" value="{{product.name}}" name="name">X</button></td>
            </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
    <p><b>Total: {{totalPrice}}€</b></p>
    {% else %}
    <p><b>Your cart is empty</b></p>
    {% endif %}
</div>
{% endblock %}