<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript"></script>
    <title>Verkkokauppa</title>
</head>

<body>
    <div class="container">
        <header class="center-align">
            <h1>Online Store</h1>
        </header>
        <div class="container center-align">
            <a class="btn" style="margin-right: 1%" href="/store/">Store</a>
            <a class="btn" style="margin-right: 1%" href="/cart/">My cart</a>
            <a class="btn" href="/">Frontpage</a>
        </div>
        <br>
        <nav style="width:37%" class="center-block">
            <div class="nav-wrapper">
                <form action="/store/search/" method="get">
                    <div class="input-field teal lighten-2 row">
                        <input id="search" type="search" name="q" placeholder="Hae pelejä">
                        <label class="label-icon" for="search"><i class="material-icons left">search</i></label>
                        <i class="material-icons">close</i>
                        <input id="filter" type="hidden" name="orderBy" value="name">
                        <input type="submit" value="Submit" hidden>
                    </div>
                </form>
            </div>
        </nav>
    </div>
    <br>
    <div class="container">
        {% block content %}
        {% endblock %}
        <br>
    </div>
    <div class="container center-align">
        <a class="btn" style="position:fixed; bottom:0px; right:5%" href="/admin">{% if user.is_authenticated %} Admin
            page {% else %} Login {% endif %}</a>
    </div>
</body>

</html>