{% extends 'verkkokauppa/layout.html' %}
{% block content %}
{% load static %}
<script src="{% static 'verkkokauppa/js/script.js' %}"></script>
<div class="card center-align">
    <div class="card-title">
        <p><b>{{product.name}}</b></p>
        <img class="responsive-image" style="max-height:25%; max-width: 25%"
            src="/static/verkkokauppa/media/{{product.img}}">
    </div>
    <div class="center-align ">
        <p>{{product.description}}</p>
        <p>Price: {{product.price}}</p>
        {% if product.amount == 0%}
        <p style="color:red;font-weight: bold;">OUT OF STOCK</p>
        {% else %}
        <p>Available: {{product.amount}}</p>
        <form id="addToCart">
            {% csrf_token %}
            <input type="hidden" id="name" name="name" value="{{product.name}}">
            <input type="hidden" id="price" name="price" value="{{product.price}}">
            <input type="hidden" id="platform" name="platform" value="{{product.platform}}">
            <input type="hidden" id="id" name="id" value="{{product.id}}">
            <input type="submit" class="btn" style="margin-bottom:1%" value="Add to cart">
        </form>
        {% endif %}
        <div style="display:none" id="added" class="center-align" role="alert">
            <p style="color:green;font-weight: bold;">{{product.name}} has been added to your cart!</p>
        </div>
        <br>
    </div>
</div>
{% endblock %}