{% extends 'verkkokauppa/layout.html' %}
{% block content %}
<table>
    <thead>
        <tr>
            <form action="/store" method="get">
                <th><button class="btn" type="submit" value="name" name="orderBy">Name</button></th>
                <th><button class="btn" type="submit" value="price" name="orderBy">Price</button></th>
                <th><button class="btn" type="submit" value="amount" name="orderBy">Available</button></th>
                <th><button class="btn" type="submit" value="platform" name="orderBy">Platform</button></th>
            </form>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td><a href="/store/products/{{product.id}}">{{product.name}}</a></td>
            <td>{{product.price}}€</td>
            {% if product.amount == 0%}
            <td style="color:red;font-weight: bold;">OUT OF STOCK</td>
            {% else %}
            <td>{{product.amount}}</td>
            {% endif %}
            <td>{{product.platform}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}